<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlayWave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlayWave.Properties.Settings>
            <setting name="LastWaveFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SliderGainPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChooseOneChannel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChoosedSampleFreq" serializeAs="String">
                <value>44100</value>
            </setting>
        </PlayWave.Properties.Settings>
    </userSettings>
</configuration>